<ion-view>
    
  <ion-header-bar class="bar-royal">
    <h1 class="title">Sign-In</h1>
  </ion-header-bar>
    
  <ion-content>
    <form>
      <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="email" ng-model="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="password" placeholder="Password">
            </label>
          </div>
    </form>
      <br><br><br>
          <button class="button button-full button-positive" ng-click="doLogin(email, password)">Log in</button>
          <button class="button button-full button-dark" ng-click="doRegister(email, password)">Register</button>
      <br>
      <h3 style="text-align: center; color: #A9A9A9"> OR </h2>
      <br>
      <button class="button button-full button-positive" ng-click="doFacebookLogin()"><i class="icon ion-social-facebook"></i> &nbsp; Log in with Facebook</button>
  </ion-content>
    
</ion-view>
